<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">AK</span> House Movement
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#events">Events</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">AKHM</h1>
                        <p class="intro-text">We're just getting started.</p>
                        <p class="intro-text">Welcome to the last frontier of House.</p>
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What is AK HOUSEMovement?</h2>
                <p>The AK HOUSE Movement is collective of both Local, National and International talents who are striving to put Alaska on the map as a home for House Music.</p>
                <p>The movement was founded by Chris Sanchez and his wife Rosa in 2012. Alaska is just the beginning, in the crusade to put House back into the minds and souls of those who may and may not know where their roots lie. AKHM is a welcoming family of like minded house heads that aims to sow new seeds in the growing house community. We seek to help to educate on the founding bases that makes up everything EDM today.</p>
            </div>
        </div>
    </section>

    <section id="events" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Featured Event</h2>
                    <%= link_to image_tag "deer.jpg", size: "200x300" %>
                    <p>The official viewing party for the Northwest House Music Conference documentary will be held at Chilkoot Charlies on March 22nd. Lead organizer Forrest Avery will be in showcasing the documentary as well as a 45 min mini workshop/ Q&A on RANE mixers. This will be followed by a wonderful evening of House Music by the AK HOUSE Movement's very own MW, Adam J, and Consciousrhythm. Forrest will be headlining around 12-12:30.</p>
                    <a href="https://www.facebook.com/AKHOUSEMOVEMENT/events" class="btn btn-default btn-lg">Full lineup here</a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Us!</h2>
                <p>Feel free to email us for booking, give us suggestions, or to just say hello!</p>
                <p>akhousemovement@gmail.com</p>
                <ul class="list-inline banner-social-buttons">
                    <li><a href="https://www.facebook.com/AKHOUSEMOVEMENT" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-cloud fa-fw"></i> <span class="network-name">Soundcloud</span></a>
                    </li>
                    <li><a href="" class="btn btn-default btn-lg"><i class="fa fa-caret-square-o-right fa-fw"></i> <span class="network-name">Livestream</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <div id="map"></div>

        <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="#page-top">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#Events">Events</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; AK HOUSE Movement 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
